html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 10px 0 5px 0;
    font-size: 18pt;
}

.indexPage img {
    width: 100%;
    height: 400px;
}

.indexButton {
    height: 150px;
    font-weight: bold;
}

ul {
    text-decoration: none;
    list-style: none;
    margin-left: -15px;
}
