html, body, #__next {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 10px 0 5px 0;
    font-size: 14pt;
}

.indexPage img {
    width: 100%;
    height: 400px;
}

.indexButton {
    height: 90px;
    font-weight: bold;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.btn-info {
    background-color: #fedfc2 !important;
}
